@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Geologica:wght,CRSV@100..900,0&family=Press+Start+2P&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    margin:0px ;
    height: 100vh;
    display: flex;
    background-color: chocolate;
}
main{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:64px;
}
*{
    box-sizing: border-box;
}
#container{
    height:560px;
    width: 560px;
    outline:2px solid white;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   
}
.btns{
    display: flex;
    gap:64px;
}
button{
    padding:16px;
    color:white;
    background-color:blue;
    cursor: pointer;
    border-radius: 20px;
    border: 0px;
    font-family: "Geologica";
    font-size: 18px;

}
.box-noHover{
  
  
    border: 1px solid white;
    margin:0px

}
